.videoLink iframe {
  pointer-events: none;
}
.mainVideo {
  max-width: 800px;
}

.mainVideo iframe {
  height: 500px;
  width: 800px;
}
.mainVideo span {
  display: flex;
  justify-content: space-between;
}
.videoContainer {
  display: flex;
  justify-content: space-evenly;
}
